@media (max-width: 1366.98px) {
  .tag-primary {
    font-size: 1.6rem;
  }
}

@media (max-width: 1299.98px) {
  .about-page-header {
    .seperator {
      width: 10rem;
    }
  }
}

@media (max-width: 1215.98px) {
  .about-grid-container {
    grid-template-columns: repeat((1, 1fr));
  }

  .about-page-header {
    flex-direction: column;

    .seperator {
      width: 0.1rem;
      height: 8rem;
      margin: 0rem;
      transform: translateY(25%);
    }
  }
}

@media (max-width: 849.98px) {
  h1 {
    font-size: 4rem;
  }

  h2,
  h3 {
    font-size: 2.8rem;
  }

  p,
  .primary-button {
    font-size: 1.8rem;
  }

  .nav-items {
    margin: 0rem;
    ul li a {
      padding: 0.5rem 1rem;
    }
  }

  .home-container {
    padding: 1rem;
  }
}

@media (max-width: 752.98px) {
  .primary-nav {
    z-index: 3;
  }
  .nav-list {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform: translateY(-100%);
    transition: transform 600ms ease-in-out;

    ul {
      flex-direction: column;
      max-width: 15rem;
      margin: 2rem 0;

      li {
        margin: 0.5rem 0;
      }
    }
  }

  .nav-list:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    background: #40e0d0; /* fallback for old browsers */
    background: linear-gradient(to left, #ff0080, #ff8c00, #40e0d0);
  }

  .nav-list--active {
    transform: translateY(0);
  }

  .close-nav-btn {
    display: inline;
    padding: 0.5rem 1rem;
    background-color: var(--grey-background-2);
    position: absolute;
    top: 3%;
    right: 3%;
    svg {
      font-size: 2.5rem;
    }
  }

  .nav-hamburger-btn {
    display: inline;
    padding: 0.3rem;
    background-color: var(--grey-background-2);
    border-radius: 5px;
    svg {
      font-size: 4rem;
    }
  }

  .header-wrapper {
    flex-direction: column;
  }

  .about-page-header {
    margin-top: 11rem;

    .seperator {
      transform: translateY(0);
      height: 6rem;
      margin-bottom: 1rem;
    }
  }

  .person-data {
    margin-top: 1.5rem;

    p {
      margin-left: 0;
    }
  }

  .social-icons {
    flex-direction: row;
  }

  .web-footer {
    div {
      margin-top: 2rem;

      a {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 600.98px) {
  .about-grid-container {
    padding: 2rem;
  }
  .item {
    flex-direction: column;
    padding: 2rem;

    img {
      margin: auto;
    }

    .item-content {
      margin-top: 3rem;
      margin-left: 0;
    }
  }
}

@media (max-width: 500.98px) {
  h2,
  h3 {
    font-size: 2.5rem;
  }
  .home-container {
    margin-top: 11rem;
  }

  .nav-items {
    img {
      max-width: 6rem;
    }
  }
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.6rem;
  }

  .home-main-wrapper {
    flex-direction: column-reverse;
  }

  .home-icons {
    flex-direction: row;
    margin-right: 0;

    svg {
      margin: 0 1rem;
    }

    img {
      min-width: 5rem;
    }
  }

  .tag-primary {
    font-size: 1.4rem;
  }
}

@media (max-width: 386.98px) {
  .about-grid-container {
    padding: 1.2rem;
  }
  .person-data {
    margin: 1rem 0 0 0;
  }
}
