.header-elements {
  max-height: 15rem;
  padding: 2rem 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
  position: relative;

  .hamburgerMenu {
    display: none;
  }

  img {
    margin-top: 3rem;
    width: 250px;
  }
  nav {
    a {
      margin-left: 2rem;
      filter: drop-shadow(2px 15px 30px #02c2a9);
      font-size: 2rem;
    }
  }
}

.fa-github {
  color: var(--clr-grey2);
  font-size: 3.5rem;
  margin-left: 2rem;
  filter: drop-shadow(5px 10px 15px #02c2a9);
  :hover {
    color: var(--clr-white);
    transition: 150ms;
    cursor: pointer;
    filter: drop-shadow(5px 10px 50px #02c2a9);
  }
}

.homePage4thSection {
  background-color: var(--clr-grey5);
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  filter: drop-shadow(20px 20px 20px #121212);

  h2 {
    color: var(--clr-grey1);
    font-weight: 300;
  }
}

.unitConvertedLogo {
  border-radius: 0;
  min-width: 5rem;
}

footer {
  background-color: var(--clr-grey5);
  padding: 2.5rem;
  border-radius: 10px;
  margin: 20rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  filter: drop-shadow(20px 20px 20px #121212);

  div {
    a {
      margin-left: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  p {
    padding-top: 1rem;
    color: var(--clr-grey3);
  }
}

.mainWrapper {
  .myStoryPageBottomTopSection {
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.myStoryPageTopSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;

  :first-child {
    padding-right: 5rem;
  }

  .myStoryPageMyPhoto {
    max-width: 48rem;
  }
}

.iconsFlex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 30rem;
}

.fa-sass {
  font-size: 12rem;
  padding-left: 4rem;
}

.puzzleImg {
  max-width: 20rem;
}

.smallIcon {
  font-size: 3rem;
  color: var(--clr-grey4);
}

.caseStudyUnitConvertedTopBottomSection {
  max-width: 70rem;
  padding: 2rem;
  margin-bottom: 10rem;
  p {
    text-align: left;
  }
}

.caseStudyUnitConvertedSassIcon {
  color: var(--clr-grey4);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.unit-converted-case-study-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit-converted-case-study-logo {
  max-width: 35rem;
  border-radius: 0;
  padding: 2rem;
}

.contactPageEmailIcon {
  color: var(--clr-grey3);
  font-size: 3rem;
  margin-right: 1rem;
}

.contact {
  padding: 2rem;
}

.contactPageMainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.htmlEntityDescription {
  margin-top: 5rem;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  align-items: baseline;

  .post {
    background-color: var(--clr-grey5);
    padding: 2rem;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px #121212);
  }

  h3 {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--clr-grey2);
  }

  h3:hover {
    color: var(--clr-grey1);
    transition: 500ms;
  }
}

.generalContainer {
  min-height: 60vh;
}

.backBlogPage {
  display: flex;
  margin-top: 8rem;

  p {
    color: var(--clr-grey3);
  }

  p:hover {
    color: var(--clr-grey1);
    transition: 500ms;
  }
  .fa-arrow-left-long {
    color: var(--clr-grey3);
    font-size: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.4rem;
  }
}

.titleAndBlogPostInfo {
  max-width: 95rem;

  h1 {
    font-size: 2.8rem;
  }

  .date {
    color: var(--clr-green);
    font-size: 1.5rem;
    font-family: ff-nexus-typewriter, sans-serif;
    font-weight: 400;
    font-style: normal;

    span {
      background-color: var(--clr-grey4);
      padding: 0.7rem;
      border-radius: 10px;
      font-size: 1.3rem;
    }
  }
}

.preBlogExtendedViewCode {
  max-height: 80rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  margin: 5rem 0 0.5rem 0;
}

.articlesSearchInput {
  min-width: 40rem;
  padding: 2rem;
  color: var(--clr-white);
  font-size: 2rem;
  filter: drop-shadow(10px 10px 10px #121212);
}

.fa-magnifying-glass {
  color: var(--clr-green);
  display: flex;
  margin: 1.5rem 1rem 0 0;
  font-size: 3rem;
}

.blogCategoriesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.category {
  font-family: ff-nexus-typewriter, sans-serif;
  font-size: 1.3rem;
  background-color: var(--clr-grey4);
  color: var(--clr-white);
  padding: 1.1rem;
  border-radius: 10px;
  border: none;
  margin-left: 1rem;
}

.category:hover {
  border: none;
  background-color: var(--clr-green);
  color: var(--clr-grey5);
  transition: 500ms;
}

//styling homepage
.homepage {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding: 2rem;
}

.homeImg {
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.click_to_start {
  display: none;
  color: var(--clr-white);
  padding: 2.5rem 5rem 2.5rem 5rem;
  font-size: 2.5rem;
  filter: none;
  box-shadow: inset 0 0 0 0 var(--clr-grey1);
  transition: ease-out 0.3s;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.click_to_start:hover {
  filter: none;
  color: var(--clr-grey5);
  box-shadow: inset 300px 0 0 0 var(--clr-white);
  outline: none;
}

//Animation icon arrow-pointer
.fa-arrow-pointer {
  margin-right: 0.8rem;
  animation: arrow_pointer 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.fa-arrow-pointer:hover {
  animation-play-state: paused;
}

@keyframes arrow_pointer {
  from {
    transform: translateX(-15px);
  }

  to {
    transform: translateX(1px);
  }
}
.home_navigation {
  padding: 1rem;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  animation: home_nav 3s;
}

@keyframes home_nav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close_nav {
  display: flex;
  justify-content: flex-end;
}

.close_nav_btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  // border: solid 1px var(--clr-green);
}

.close_nav_btn:hover {
  border: none;
}

.fa-xmark {
  color: var(--clr-green);
  font-size: 4rem;

  :hover {
    color: white;
    transition: 500ms;
    cursor: pointer;
  }
}

.home-page-header {
  height: 100vh;
}

.top_home {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  .top_home_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    max-width: 8rem;
  }
  p {
    color: var(--clr-grey1);
    font-size: 4rem;
    font-weight: 300;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
    color: var(--clr-green);
    font-family: 'VT323', monospace;
  }

  h1 {
    font-size: 2rem;
  }
}

.bottom_home {
  text-align: center;

  h2 {
    font-size: 2rem;
  }
}

.home_nav {
  display: flex;
  flex-direction: column;
  line-height: 65px;
  a {
    font-size: 3rem;
  }
}

//about page grid

.about-grid-single-block {
  background-color: var(--clr-grey5);
  padding: 2.7rem;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px #121212);

  h3 {
    padding: 0 0 2rem 0;
  }
}

.about-page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-template-areas:
    'item1 item1 item1'
    'item2 item3 item4'
    'item5 item5 item5';
}

.tag {
  background-color: var(--clr-grey4);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  font-family: ff-nexus-typewriter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--clr-grey1);
  background-color: var(--clr-grey4);
  line-height: 1.5rem;
}

.about-grid-item1 {
  grid-area: item1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    margin-left: 3rem;
  }

  img {
    max-width: 15rem;
  }

  h2 {
    padding: 0;
    color: var(--clr-white);
  }

  .about-icons {
    font-size: 3.3rem;
    margin-right: 1rem;
    color: var(--clr-grey3);
  }

  .about-icons:hover {
    transition: 500ms;
    color: var(--clr-white);
  }
}

.about-grid-item2 {
  grid-area: item2;
}

.about-grid-item3 {
  grid-area: item3;

  .hard-skills-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      border-radius: 0;
      margin-bottom: 2.5rem;
      max-width: 1000rem;
    }

    p {
      font-size: 1.2rem;
      margin-left: 0.5rem;
      color: var(--clr-green);
      font-weight: 500;
    }
  }

  .hard-skill {
    color: var(--clr-grey5);
  }

  .hard-skills {
    display: flex;
    flex-wrap: wrap;

    .beginner {
      background-color: #ffdc71;
    }

    .intermediate {
      background-color: #ff9a00;
    }

    .proficient {
      background-color: #ff7400;
    }

    .expert {
      background-color: #ff4d00;
    }
  }
}

.about-grid-item4 {
  grid-area: item4;

  .soft-skills {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-grid-item5 {
  grid-area: item5;

  .education-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      border-radius: 0;
      max-width: 1000rem;
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      margin-left: 0.5rem;
      color: var(--clr-green);
      font-weight: 500;
    }
  }

  .education-tags {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    color: var(--clr-grey1);
    font-size: 1.4rem;
  }

  .in-progress {
    background-color: var(--clr-grey3);
  }

  .completed {
    background-color: var(--clr-grey4);
  }
}

.myProjectsPageTopSection {
  max-width: 60rem;
  margin-top: 8rem;
}

.myProjectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'featured-project featured-project featured-project';
  column-gap: 4rem;
  row-gap: 4rem;
  margin-top: 4rem;
}

.singleProject {
  background-color: var(--clr-grey5);
  padding: 2rem;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px #121212);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;

  .important-tag {
    color: var(--clr-green);
  }
}

.project-date-and-title {
  margin-top: 2rem;
  p {
    color: var(--clr-grey3);
    font-size: 1.5rem;
    padding: 0;
  }

  h3 {
    padding: 0;
    color: var(--clr-white);
    font-size: 2.2rem;
  }
}

.project-buttons {
  margin-top: 2rem;

  .project-button {
    color: var(--clr-grey4);
    margin-right: 0.5rem;
  }

  .live-app-label {
    color: var(--clr-green);
    font-weight: 500;
  }

  p:hover {
    color: var(--clr-white);
    transition: 500ms;
  }
}

.featured-project {
  grid-area: featured-project;
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;

  img {
    max-width: 20rem;
    filter: none;
  }

  h2 {
    font-weight: 600;
    color: var(--clr-grey5);
  }

  .project-buttons {
    p:hover {
      color: black;
      font-weight: 600;
    }
  }
}

.featured-project-wrapper1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  video {
    max-width: 60rem;
    border-radius: 12px;
  }
}

.project-listing-img {
  position: relative;

  img {
    margin-top: 0;
    margin-bottom: 2rem;
    height: 24rem;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.tab-component-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-btn {
  border-radius: 0;
}

.tab-component-content-wrapper {
  position: relative;
  min-width: 100%;
  min-height: 50rem;
}

.tab-content {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
