//mixins

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.972);
}

.primary-nav:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 11px;
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff0080, #ff8c00, #40e0d0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-list-btn {
  display: none;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 2rem;
  border-bottom: 1px solid var(--grey-background-2);
  img {
    max-width: 9rem;
    height: fit-content;
  }

  ul {
    display: flex;

    li {
      padding: 0.5rem 2rem;
      font-size: 1.8rem;
      border-radius: 5px;
    }

    li:hover {
      background-color: var(--grey-background-2);
    }

    li:active {
      font-weight: 600;
      background-color: var(--grey-background-2);
    }
  }
}

.home-main {
  @include flexCenter();
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.home-header-animation {
  background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
  background-clip: text;
  background-size: 500%;
  color: transparent;
  animation: animateHeader 5s linear infinite;
}

@keyframes animateHeader {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.home-container {
  margin-top: 15rem;
  @include flexCenter();
  flex-direction: column;
  max-width: 90rem;
}

.home-main-wrapper {
  @include flexCenter();
  margin-top: 5rem;
}

.home-icons {
  margin-right: 3rem;
  @include flexCenter();
  flex-direction: column;

  svg {
    font-size: 3rem;
    margin: 0.5rem 0;
    color: var(--grey-icons);
    padding: 0.5rem;
  }

  svg:hover {
    background-color: var(--grey-background-2);
    border-radius: 5px;
  }

  img {
    min-width: 4rem;
    padding: 0.5rem;
  }

  img:hover {
    background-color: var(--grey-background-2);
  }
}

.home-paragraphs {
  max-width: 70rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--grey-tag-border);
}

.img-banner {
  margin-top: 5rem;
  width: 100%;
  background-color: #40e0d0;

  img {
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
  }
}
