* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: black;
  --grey-background: #f9f9f9;
  --grey-background-2: #f1f1f1;
  --grey-tag-background: #e2e2e2;
  --grey-tag-border: #bbbaba;
  --grey-icons: #575757;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--color-black);
}

p,
a,
ul,
button,
span,
div {
  font-family: 'Roboto Mono', monospace;
  color: var(--color-black);
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 6rem;
  color: var(--color-black);
  font-weight: 700;

  span {
    font-family: 'Josefin Sans', sans-serif;
  }
}

h2,
h3 {
  font-size: 3.5rem;
}

p,
li,
a {
  font-size: 2rem;
  font-weight: 400;
}

li {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--grey-background-2);
}

p,
li {
  margin-bottom: 1.5rem;

  a {
    border-bottom: 1px solid var(--grey-icons);
    padding: 0 0.2rem;
  }

  a:hover {
    background-color: var(--grey-background-2);
  }
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: none;
  font-weight: 600;
}

input {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #707070;
}

pre {
  position: relative;
  max-width: 100%;
  min-height: 40rem;
  overflow: scroll;
  border: 3px solid var(--color-black);
  background-color: rgb(16, 16, 16);
  color: var(--grey-tag-border);
  padding: 1rem 0 2rem 3rem;
  margin: 1.5rem 0 4rem 0;
  white-space: pre-line;

  code {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--grey-background-2);
}

::-webkit-scrollbar-thumb {
  background: var(--grey-icons);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey-icons);
}

::-webkit-scrollbar-corner {
  background-color: var(--grey-background-2);
}

.primary-button {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 3rem 1rem 0;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;

  svg {
    margin-left: 1rem;
  }
}

.primary-button:hover {
  background-color: var(--grey-background-2);
}
