.slider-wrapper {
  position: relative;
  min-height: 55rem;
  width: 100%;
  overflow: hidden;

  p {
    position: absolute;
    top: 5%;
    right: 3%;
    font-weight: 600;
    color: var(--clr-white);
  }
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  // border-radius: 10px;
  transition: transform 1s;

  img {
    filter: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}

.slider-btn {
  z-index: 3;
  position: absolute;
  border-radius: 500%;
  margin: 0;
  padding: 1rem;
  background-color: var(--clr-grey4);
  border: none;
}

.slider-btn:hover {
  border: none;
  background-color: var(--clr-grey5);
  transition: 500ms;
}

.slide-img-left-btn {
  left: 5%;
  top: 50%;
}

.slide-img-right-btn {
  right: 5%;
  top: 50%;
}

@media (max-width: 823.98px) {
  .slider-wrapper {
    min-height: 40rem;
  }
}

@media (max-width: 575.98px) {
  .slider-wrapper {
    min-height: 25rem;

    p {
      font-size: 1.3rem;
    }
  }
}
